subscription_id       = "00000000-0000-0000-0000-000000000000"
environment           = "dev"
location              = "westeurope"
owner                 = "wg"
project_name          = "mrt"
docker_backend_image  = "nginx:latest" #vhron/basicbackend:0.0.3
docker_frontend_image = "nginx:latest" #vhron/basicbackend:0.0.7
docker_registry_url   = "https://docker.io"